<div class="container">
  <h1>Beer</h1>
  <ul [class]="updatePour(beer)" *ngFor = "let beer of beers">
    <h3>{{beer.name}}</h3><button (click)="pourPint(beer)">Pour</button><button (click)="editBeer(beer)">Edit</button>
    <li>{{beer.brewery}}</li>
    <li>ABV: {{beer.abv}}%</li>
    <li>Price: ${{beer.price}}</li>
    <li>Pints Remaining: {{beer.keg}}</li>
  </ul>
  <div *ngIf="selectedBeer">
    <form class="" action="index.html" method="post">
      <label for="keg"></label>
    </form>


</div>
